.loader {
    /* Agregando posicionamiento absoluto para centrar el elemento */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Agregando margen negativo para ajustar el tamaño del elemento */
    margin: -40px;
    /* Los estilos restantes se mantienen */
    border: 10px solid #f3f3f3;
    border-top: 10px solid #000000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}